*{
    margin: 0px;
    padding: 0px;
}
body{
    margin-left: 250px;
    margin-right: 250px;
    background: url("../img/fondo2.jpg");
    background-attachment: fixed ;
 
}

#general{
    width: 100%;
    background-color: white;
}

#encabezado{
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 300px;
}
#logo{
    width: 300px;
    height:300px;
    margin-right: auto;
    margin-left: auto;
}
.imglogo{
    width: 100%;
    height: 100%;
}
#nav_bar{
    background-color: #333;
    width: 100%;
    list-style: none;
    display: block;
    float: left;
}
#nav_bar ul{
    display: block;
    float: left;
    
}
#nav_bar ul li{
    color: white;
    text-align: center;
    width: 100px;
    display: inline-block;
    padding: 20px;
}
#buscador{
    display: block;
    float: right;
    margin-right: 50px;
}

#buscando{
    padding: 10px;
    margin: 10px;
    border-radius: 99px;
}
#buscador label{
    color: white;
    font-size: 20px;
}

#contenido{
    display: block;
    /* background: black; */
    height: 630px;
    width: auto;
}

#cursos{
    display: block;
    float: left;
    /* background: yellowgreen; */
    height: 600px;
    width: 70%;
}

#curso1{
    margin-top: 20px;
    padding: 20px;
    border: solid 2px #ccc;
    border-radius: 50px;
    background: white;
    width: auto;
    height: 250px;
}

#curso1 img{
    display: block;
    float: left;
    width: 300px;
    height: 200px;
}

#description1{
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    /* background:brown; */
    width: 250px;
    text-align: justify;
}

#curso2{ 
    margin-top: 20px;
    padding: 20px;
    border: solid 2px #ccc;
    border-radius: 50px;
    background:white;
    width: auto;
    height: 250px;
}

#curso2 img{
    display: block;
    float: right;
    width: 300px;
    height: 200px;
}

#description2{
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    /* background:brown; */
    width: 250px;
    text-align: justify;

}
.articulo h2{
    font-size: 30px;
    text-transform: uppercase;
}
.articulo span{
    font-size: 15px;
    color: #333;
}

.boton{
     padding: 10px;
     width: 60px;
     margin-left: 10px;
     margin-top: 10px;
     background-color: aquamarine;
     border: none;
     border-radius: 99px;
     color: white;
}
#aside{
    display:block;
    float: right;
    /* background: purple; */
    height: 600px;
    width: 20%;
}

#info{
    display: block;
    margin-top: 50px;
}

#datos{
    display: block;
    margin-left: 200px;
}
#datos li{
    list-style: none;
    padding: 5px;
    margin: 10px;
}

#pie{
    display: block;
    margin-top: 50px;
    background: yellow;
    height: 50px;
    width: 100%;
}