*{
    margin: 0px;
    padding: 0px;
}
body{
    margin-left: 250px;
    margin-right: 250px;
}


#general{
    width: 100%;
}

#encabezado{
    background: blue;
    height: 300px;
    width: auto;
}

#contenido{
    display: block;
    /* background: black; */
    height: 630px;
    width: auto;
}

#cursos{
    display: block;
    float: left;
    /* background: yellowgreen; */
    height: 600px;
    width: 70%;
}

#curso1{
    margin-top: 20px;
    padding: 20px;
    border: solid 2px #ccc;
    border-radius: 50px;
    background: white;
    width: auto;
    height: 250px;
}

#curso1 img{
    display: block;
    float: left;
    width: 300px;
    height: 200px;
}

#description1{
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    /* background:brown; */
    width: 250px;
    text-align: justify;
}

#curso2{ 
    margin-top: 20px;
    padding: 20px;
    border: solid 2px #ccc;
    border-radius: 50px;
    background:white;
    width: auto;
    height: 250px;
}

#curso2 img{
    display: block;
    float: right;
    width: 300px;
    height: 200px;
}

#description2{
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    /* background:brown; */
    width: 250px;
    text-align: justify;

}
.articulo h2{
    font-size: 30px;
    text-transform: uppercase;
}
.articulo span{
    font-size: 15px;
    color: #333;
}

.boton{
     padding: 10px;
     width: 60px;
     margin-left: 10px;
     margin-top: 10px;
     background-color: aquamarine;
     border: none;
     border-radius: 99px;
     color: white;
}
#aside{
    display:block;
    float: right;
    /* background: purple; */
    height: 600px;
    width: 20%;
}

#info{
    display: block;
    margin-top: 50px;
}

#datos{
    display: block;
    margin-left: 200px;
}
#datos li{
    list-style: none;
    padding: 5px;
    margin: 10px;
}

#pie{
    display: block;
    margin-top: 50px;
    background: yellow;
    height: 50px;
    width: 100%;
}